/*REGLAS POR DEFECTO*/

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}


/*Clear floats after the columns*/

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Diseño de columnas*/

.column-1 {
    /*contenido*/
    width: 33.33%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 50%;
    float: left;
}

.column-4 {
    width: 33.33%;
    float: left;
}

.column-5 {
    width: 25%;
    float: left;
}

#caja2 {
    background-color: green;
}

#caja1 {
    background-color: red;
}

#caja3 {
    background-color: purple;
}

#caja4 {
    background-color: yellow;
}

#caja5 {
    background-color: blue;
}

#caja6 {
    background-color: skyblue;
}

#caja7 {
    background-color: teal;
}

#caja8 {
    background-color: white;
}

#caja9 {
    background-color: deeppink;
}

#caja10 {
    background-color: grey;
}

#caja12 {
    background-color: red;
}

#caja13 {
    background-color: blue;
}

#caja14 {
    background-color: royalblue;
}

#caja15 {
    background: green;
}

@media only screen and (max-width: 600px) {
    /*  R E G L A S  */
    /*column-3 pasará de tener 33.33% a 100%*/
    .column-1 {
        width: 100%;
    }
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
}